@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #0a0a0a;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 3px;
}

.xterm-container .xterm {
  padding: 8px;
}

.xterm-container .xterm-viewport {
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}
